@model IEnumerable<Cinema_Mvc.Models.Sessao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sessões</h2>

<span class="form-inline">
    @Html.ActionLink("Criar novo", "Create")

    @using (Html.BeginForm())
    {
        <span class="pull-right">
            Filtrar por cinema: @Html.TextBox("SearchString")
            <input type="submit" value="Buscar" />
        </span>
    }
</span>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Cinema", "Index", new { sortOrder = ViewBag.CinemaSortParm })
        </th>
        <th>
            @Html.ActionLink("Filme", "Index", new { sortOrder = ViewBag.FilmeSortParm })
        </th>
        <th>
            @Html.ActionLink("Horario", "Index", new { sortOrder = ViewBag.HorarioSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cinema.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filme.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SessaoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.SessaoID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.SessaoID })
        </td>
    </tr>
}

</table>
