@model IEnumerable<Cinema_Mvc.Models.Filme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmes</h2>

<span class="form-inline"> @Html.ActionLink("Criar novo", "Create")

      @using (Html.BeginForm()) {
          <span class="pull-right">
        Filtrar por nome: @Html.TextBox("SearchString")
        <input  type="submit" value="Buscar" />
    </span>
}
    </span>
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm })

        </th>
        <th>
            @Html.ActionLink("Genero", "Index", new { sortOrder = ViewBag.GeneroSortParm })

        </th>
        <th>
            @Html.ActionLink("Duracao", "Index", new { sortOrder = ViewBag.DuracaoSortParm })

        </th>
        <th>
            @Html.ActionLink("Classificacao", "Index", new { sortOrder = ViewBag.ClassificacaoSortParm })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.FilmeId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.FilmeId }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.FilmeId })
            </td>
        </tr>
    }

</table>
